/*	****************************************
	Base styles
	**************************************** */
html, body {
    margin: 0; 
    height: 100%;
}

/*	****************************************
	Persistent Navigation
	**************************************** */
.main-menu {
	position: fixed;
	top: 0; 
	z-index: 1000; 
	background-color: #003333; 
}
.main-menu ul {
	margin: 0;
	padding-left: 0;
	list-style-type: none;

	
	display: flex;
	justify-content: center; 
}
.main-menu a { 
	display: block;
	padding: 15px;
	color: #666;
	text-decoration: none;
}
.main-menu a:hover { color: #ddd; }

/*	****************************************
	Long-scrolly sections
	**************************************** */
section {
    min-height: 100%; 
    padding-top: 75px; 
    padding-bottom: 25px; 
    text-align: center; 
}

 /* Altering background for each section */
section:nth-child(even) {background-color:  #006666; }
section:nth-child(odd) {background-color: #009999; }